<div class="ui inverted vertical masthead center aligned segment grey">

    <div class="ui container">
        <div class="ui large secondary inverted menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
                </a>

            <a [ngClass]="{'active': isActive, '': !isActive}" class="item" routerLink="/">Home</a>
            <a [ngClass]="{'active': isActive, '': !isActive}" class="item" routerLink="/users">Utilisateur</a>
            <a [ngClass]="{'active': isActive, '': !isActive}" class="item" routerLink="/articles">Articles</a>
            <div class="right item">
              <div class="large ui buttons">
                <button [ngClass]="{'hidden': isAuthenticated, '': ! isAuthenticated}" [ngClass]="{'active': isActive, '': !isActive}" routerLink="/login" class="ui basic inverted button">Se Connecter</button>
                <button [ngClass]="{'hidden':  isAuthenticated, '': ! isAuthenticated}" class="item" routerLink="/users/form" class="ui basic inverted button">S'inscrire</button>
              </div>

            </div>
        </div>
    </div>

    <div class="ui text container">
      <h1 class="ui center aligned icon header inverted">
        <i class="hand spock icon"></i>Nodinator
      </h1>
        <p>Do whatever you want, when you want to</p>
    </div>

</div>
