<div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
        <div class="ui large secondary inverted pointing menu">
            <a class="toc item">
                <i class="sidebar icon"></i>
                </a>
            <!-- <div *ngIf="listTab">
                <div *ngFor="let tab of listTab" (click)="onSelect(tab)">
                    <nod-tab [tab]="tab"></nod-tab>
                </div>
            </div> -->

            <a  [ngClass]="{'active': isActive, '': !isActive}" class="item" routerLink="/">Home</a>
            <a  [ngClass]="{'active': isActive, '': !isActive}" class=" item" routerLink="/user">Utilisateur</a>
            <a  [ngClass]="{'active': isActive, '': !isActive}" class="item" routerLink="/articles" class="item">Articles</a>
            <div class="right item">
                <a class="ui inverted button login">Se Connecter</a>
                <a class="ui inverted button login">S'inscrire</a>
            </div>
        </div>
    </div>

    <div class="ui text container">
        <h1 class="ui inverted header">
            Nodinator
        </h1>
        <h2>Do whatever you want when you want to.</h2>
    </div>

</div>