<div *ngIf="user">

    <div class="ui grid">
        <div class="eight wide column">
            Nom : <br> Prénom : <br> Rôles : <br> Email : <br>
        </div>
        <div class="eight wide column">
            {{user?.lastName}} <br> {{user?.firstName}} <br> {{user?.roles}} <br> {{user?.email}}
            <br>
        </div>
    </div>



</div>
<div *ngIf="!user">
    <!-- ngForm ajoute des fonctionnalités comme la validation -->
    <form class="ui form" name="ncForm" #ncForm="ngForm" (ngSubmit)="save(ncForm)" novalidate>
        <div class="field">
            <label>Nom:</label>
            <input [(ngModel)]="newUser.lastName" name="lastName" placeholder="nom" required>
        </div>
        <div class="field">
            <label>Prénom:</label>
            <input [(ngModel)]="newUser.firstName" name="firstname" placeholder="prénom" required>
        </div>
        <div class="field">
            <label> Email:</label>
            <input [(ngModel)]="newUser.email" name="email" placeholder="email" required>
        </div>

        <div class="field">
            <label>Mot de passe:</label>
            <input type="password" [(ngModel)]="newUser.password" name="password" placeholder="mot de passe" required>
        </div>
        <div class="row">
            <div class="column">
                <input type="submit" class="button success large" value="Enregistrer" [disabled]="ncForm.invalid" />
                <a class="button secondary large" routerLink="/">Annuler</a>
            </div>
        </div>
    </form>

</div>
