<div class="row">
    <div class="columns text-center" style="height: 250px">
        <h1>S'authentifier</h1>
        <form class="ui form" name="ncForm" #ncForm="ngForm" (ngSubmit)="save(ncForm)" novalidate>
            <div class="field">
                <label>Adresse mail:</label>
                <input [(ngModel)]="email" name="email" placeholder="email">
            </div>
            <div class="field">
                <label>Mot de passe:</label>
                <input type="password" [(ngModel)]="password" name="password" placeholder="mot de passe">
            </div>
            <a [ngClass]="{'active': isActive, '': !isActive}" class=" item" type="submit" class="ui button">Se Connecter</a>
            <a [ngClass]="{'active': isActive, '': !isActive}" class=" item" routerLink="/login" class="ui button">S'inscrire</a>
        </form>
     
       
    </div>
</div>