.layout {
    height: 100%;
}
/* nav */
.button.login {
    margin: -0.5em 5px !important;
}

/* container */
.container {
    padding: 0 10px;
}
.align-center {
    text-align: center;
}
.nowrap {
    white-space: nowrap;
}
.list {
    display: inline-block;
}
.footer{
    bottom: 0;
    height: 100%;
    position: fixed;
}