<h2>New Article</h2>
<form class="ui form" name="ncForm" #articleForm="ngForm" (ngSubmit)="save(ncForm)">
  <div class="ui error message"></div>
  <div class="field">
    <input type="text" id="title" name="title" placeholder="Title" required [(ngModel)]="article.title">
  </div>
  <div class="field">
    <textarea id="content" name="content" placeholder="Pass your knowledge..."></textarea>
  </div>
  <button class="ui button grey" routerLink="/articles">Cancel</button>
  <button class="ui button" type="submit">Save Draft</button>
  <button class="ui button teal" type="submit">Submit</button>
</form>
