<div *ngIf="article">
  <div class="ui buttons">
    <button routerLink="/articles" class="ui labeled icon button">
      <i class="left chevron icon"></i>
      Back
    </button>
  </div>
  <button class="ui right floated button">
    <i class="edit icon"></i>
    Edit
  </button>
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="../../../assets/images/medium/helen.jpg">
      </div>
      <div class="content">
        <a class="header">{{ article.title }}</a>
        <div class="meta">
          <span>{{ article.updated_at|date:'fullDate' }}</span>
        </div>
        <div class="description">
          <p>{{ article.content }}</p>
        </div>
        <div class="extra">
          {{ article.user_id }}
        </div>
      </div>
    </div>
  </div>
  <div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="../../../assets/images/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="../../../assets/images/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="../../../assets/images/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="../../../assets/images/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>
</div>
<!--<div *ngIf="!article">-->
  <!--&lt;!&ndash; ngForm ajoute des fonctionnalités comme la validation &ndash;&gt;-->
  <!--<form class="ui form" name="ncForm" #ncForm="ngForm" (ngSubmit)="save(ncForm)" novalidate>-->
    <!--<div class="field">-->
      <!--<label>Nom:</label>-->
      <!--<input [(ngModel)]="newUser.lastName" name="lastName" placeholder="nom" required>-->
    <!--</div>-->
    <!--<div class="field">-->
      <!--<label>Prénom:</label>-->
      <!--<input [(ngModel)]="newUser.firstName" name="firstname" placeholder="prénom" required>-->
    <!--</div>-->
    <!--<div class="field">-->
      <!--<label> Email:</label>-->
      <!--<input [(ngModel)]="newUser.email" name="email" placeholder="email" required>-->
    <!--</div>-->

    <!--<div class="field">-->
      <!--<label>Mot de passe:</label>-->
      <!--<input type="password" [(ngModel)]="newUser.password" name="password" placeholder="mot de passe" required>-->
    <!--</div>-->
    <!--<div class="row">-->
      <!--<div class="column">-->
        <!--<input type="submit" class="button success large" value="Enregistrer" [disabled]="ncForm.invalid" />-->
        <!--<a class="button secondary large" routerLink="/">Annuler</a>-->
      <!--</div>-->
    <!--</div>-->
  <!--</form>-->
<!--</div>-->
